Checks: >
  -*,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-*,
  -bugprone-suspicious-enum-usage,
  -cert-err58-cpp,
  -modernize-*,
  -cppcoreguidelines-*,
  -google-*,
  -hicpp-*,
  -readability-magic-numbers,
  -readability-named-parameter

HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.StaticFunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.StaticVariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariableCase
    value: camelBack
  - key: readability-identifier-naming.LocalVariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase

WarningsAsErrors: '*'
FormatStyle: file